@charset "utf-8";
*{
	margin: 0;
	font-family: Arial, serif;
}
.solo{
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;

	margin-top: auto;
	margin-bottom: auto;
	top:0;
	bottom:0;

	background: #a2a2a2;
	width: 870px;
	height: 520px;
	z-index: 1;
	position: absolute;

}
.container{
	display: grid;
	/*grid-template: minmax(300px 50vh) / minmax(250px 30vw) minmax(300px 40vw);*/
	grid-template: 	500px / 350px 500px;
	height: 100vh;
	grid-template-areas: "contacto mensaje";
	 /*box-shadow: 2px 2px 5px #999;*/
	justify-content: center;
	align-content: center;
	z-index: 2;
}

.contacto{
	/*decirle a mi contenido que area ocupar*/
	z-index: 2;
	grid-area: contacto;
	background: #6393eb;
	color: white;
	text-align: center;
	/*border:1px solid black;*/
	border-radius: 15px 0px 0px 15px;
	padding: 10%;
}

.mensaje{
	/*decirle a mi contenido que area ocupar*/
	grid-area: mensaje;
	background: white;
	border:1px solid transparent;
	border-radius:  0px 15px 15px 0px;
	z-index: 2;
}

h1{
	text-transform: uppercase;
	padding-top: 45%;
	font-size: 1.9em;
}

p {
	font-size: 1em;
}

.puno{
	padding-top: 12%;
	font-weight: bold;
}

.pdos{
	padding-top: 5%;
	font-weight: bold;
}


h1 span{
	text-align: center;
}

h2{
	padding-top:8%;
	padding-left: 5%;
	font-weight: lighter;
	font-size: 1.6em;
}

form{
	padding-top:5%;
	padding-left: 5%;
}
input, textarea{
	display: block;
	border-left: none;
	border-right:none;
	border-top: none;
	border-bottom:2px solid #c2c2c2;
	padding:1%;
	width: 95%;
	margin-bottom: 6%;
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
	font-size: 11pt;
}

input:focus, textarea:focus{
	border: 1px solid #6393eb;;
}

input[type="submit"]{
	border-radius: 15px;
	width: 30%;	
	text-align: center;
	padding: 8px;
	color: white;
	background: #6393eb;
	font-weight: bold;
	top:20%;
	position: relative;
	left: 65%;
	font-size: 11pt;
}
input[type="submit"]:focus{
	/*quitar borde*/
outline: 0 none; 
border: 0;
background-color: hsla(207, 100%, 50%, 0.59);
}
label{
	font-size: .9em;
	font-weight: bold;
}

textarea::placeholder{
	padding-top:0.5%;
}


@media screen and (max-width:1024px){

.solo{
	width: 745px;
	height: 445px;
	}
.container{

	grid-template: 	420px / 300px 420px;
}
h1{
	font-size: 1.7em;
}
p {
	font-size: .85em;
}
h2{
	padding-top:5%;
	padding-left: 4%;
	font-size: 1.2em;
}
form{
	padding-top:3%;
	padding-left: 4%;
}
input, textarea{
	padding-top: 3%;
	width: 95%;
	margin-bottom: 5%;
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
}
input[type="submit"]{
	font-size: 10pt;
}

}



@media screen and (max-width:767px){

.solo{
	width: 466px;
	height: 675px;
	}
.container{
	display: grid;
	height: 100vh;
	grid-template: 	200px 450px / 445px;
	grid-template-areas: "contacto" 
						 "mensaje";
}
.contacto{
	/*decirle a mi contenido que area ocupar*/
	grid-area: contacto;
	padding: 5%;
	border-radius: 10px 10px 0px 0px;
}

.mensaje{
	/*decirle a mi contenido que area ocupar*/
	grid-area: mensaje;
	border-radius: 0px 0px 10px 10px;
}
h1{
	padding-top: 4%;
	font-size: 1.6em;
}

p {
	font-size: .9em;
}
.puno{
	padding-top: 5%;
}
.pdos{
	padding-top: 4%;
}
h2{
	padding-top:6%;
	padding-left: 4%;
	font-size: 1.25em;
}
input, textarea{
	padding:2%;
	width: 95%;
	margin-bottom: 5%;
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
}
input[type="submit"]{
	border-radius: 10px;
	top:20s%;
}
label{
	font-size: .9em;
}


}

@media screen and (max-width:480px){
	.solo{
	width: 319px;
	height: 542px;
	}
.container{
	display: grid;
	height: 100vh;
	grid-template: 	150px 380px / 308px;
	grid-template-areas: "contacto" 
						 "mensaje";
}
.contacto{
	/*decirle a mi contenido que area ocupar*/
	grid-area: contacto;
	padding: 4%;
	border-radius: 10px 10px 0px 0px;
}

.mensaje{
	/*decirle a mi contenido que area ocupar*/
	grid-area: mensaje;
	border-radius: 0px 0px 10px 10px;
}
h1{
	padding-top: 3%;
	font-size: 1.3em;
}

p {
	font-size: .85em;
}
.puno{
	padding-top: 4%;
}
.pdos{
	padding-top: 3%;
}
h2{
	padding-top:5%;
	padding-left: 4%;
	font-size: 1.1em;
}
input, textarea{
	padding:2%;
	width: 95%;
	margin-bottom: 4%;
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
}
input[type="submit"]{
	border-radius: 10px;
	top:18%;
	font-size: 9pt;
	width: 35%;
	left: 60%;
	margin-top: 8%;
	padding: 6px;
}
label{
	font-size: .85em;
}
	}



